.App {
  text-align: center;
}

.App-header {
  background-color: #2E0219;
  min-height: 60px;
  max-height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(6px + 1.2vmin);
  color: white;
  padding-left: 2vh;
  border-bottom: 0.5vh #620235 solid;
  text-align: start;
}

.App-title {
  text-decoration: none;
  color: white;
  padding-right: 2vh;
}

.App-nav-option {
  text-decoration: none;
  color: white;
  font-size: calc(6px + 1vmin);
  margin: calc(6px + 1vmin);
}

.my-name {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  padding-right: 2vh;
  color: #898989;
}

.App-body {
  padding: 4vh;
}

::-webkit-scrollbar {
  background: none;
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #F0F0F0;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: silver;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #A9A9A9;
}