.App {
  text-align: center;
}

.App-header {
  background-color: #2E0219;
  min-height: 8vh;
  max-height: 12vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(6px + 1.2vmin);
  color: white;
  padding-left: 4vh;
  border-bottom: 0.5vh #620235 solid;
  text-align: start;
}

.App-title {
  text-decoration: none;
  color: white;
  padding-right: 64px;
}

.App-nav-option {
  text-decoration: none;
  color: white;
  font-size: calc(6px + 1vmin);
  margin: calc(6px + 1vmin);
}

.my-name {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  padding-right: 4vh;
  color: #898989;
}

.App-body {
  padding: 4vh;
}